﻿@{
    ViewData["Title"] = "ApproveClaimIndex";


}

@Html.Partial("_Sum")

<h2>Approve Dashboard</h2>

<h3>Pending Claims</h3>
@await Html.PartialAsync("_ClaimTablePartial")

<h3>Pre-approved Claims</h3>
@await Html.PartialAsync("_ClaimTablePartial")

<h3>Approved Claims</h3>
@await Html.PartialAsync("_ClaimTablePartial")