@{
    ViewData["Title"] = " Programe_coordinator ";
}

@Html.Partial("_Sum")

<h1>Welcome 🎓</h1>
<p>
    This platform streamlines the process of submitting and managing monthly claims. Lecturers can easily upload supporting documents, complete structured forms, and track the status of their claims from submission to final approval. Built-in validation and mandatory fields ensure the process is accurate, consistent, and reliable.
</p>
<div>
    <p>
        Once submitted, claims are initially checked by the Program Coordinator for verification. They are then forwarded to the Program Manager, who makes the final decision to approve or reject the claim. Every user signs in and performs tasks based on their assigned role.

    </p>
</div>
<hr />



