@{
    ViewData["Title"] = "Claim Submitted";
}
@Html.Partial("_Menu")


<h1>Claim Submitted Successfully!</h1>
<p>Your claim has been submitted. feel free to click track claim above to view your claims or click claim to enter another claim.</p>

